@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
/* .slider{
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 10% 90%,
    transparent
    );
} */
